body {
  background: #fff;
  color: #000;
  font-size: 15px;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

/* ************nav************ */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 30px;
}
.main-nav ul {
  list-style: none;
}
.main-nav ul.main-items {
  display: flex;
  margin-left: 20px;
}
/* .main-nav ul {
  display: flex;
} */
.main-nav ul.main-items li {
  padding: 0 15px;
}

.big {
  font-size: 150px;
  padding: 0;
  width: auto;
}
.big-1 {
  font-size: 120px;
  padding: 0;
  margin-bottom: 30px;
}

/* *************header************ */

.main-header {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  /* border: #000 3px solid; */
}
.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items-1 {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  justify-content: left;
}
.main-header .items-1 {
  margin-left: 0;
  /* padding-left: 0; */
  /* border: #000 3px solid; */
  margin: 2px;
}
.main-header ul {
  list-style: none;
}
.main-header ul li {
  padding-right: 15px;
  font-weight: 10px;
  font-size: 20px;
}
.main-header a {
  border: 1px solid darkgray;
  padding: 15px 25px;
  margin-right: 10px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 25px;
  margin-top: 5px;
}
.dark-gray {
  background-color: rgb(29, 27, 27);
  color: rgb(197, 191, 191);
}
.light-gray {
  background-color: rgb(175, 170, 170);
  color: #000;
}
/* *************section********** */
section {
  /* display: flex; */
  margin-top: 150px;
  background-color: rgb(29, 29, 37);
  color: rgb(141, 141, 148);
  height: 100%;
  padding-bottom: 80px;
  /* justify-content: space-around; */
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
.person {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  object-fit: cover;
}
.right-side {
  flex: 1.5;
}
.right-side p {
  line-height: 2rem;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 50px;
}
.right-side a {
  border: 1px solid darkgray;
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 25px;
  text-decoration: none;
  background-color: rgb(246, 242, 242);
  color: #000;
  font-size: 30px;
}

.left-side {
  display: flex;
  flex: 1;
  /* margin-top: auto; */
}
.left-side {
  margin-top: 100px;
}
.left-side h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
.left-side h3 {
  margin: 0;
}
.left-side img {
  margin-left: 0;
}
.left-side img {
  margin-right: 20px;
}
.left-side img {
  margin-top: 25px;
}
.last-photo {
  position: absolute;
  top: 140%;
  width: 100%;
  left: 12%;
}
.last-photo img {
  height: 700px;
}

/* **********last section********* */
.last-portion {
  display: none;
}

@media (max-width: 700px) {
  .main-nav ul.main-items {
    margin: 0px;
    /* display: block; */
  }
  .main-nav ul.main-items li {
    padding: 0 5px;
  }
  .main-header {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
  }
  .main-header a {
    border: 1px solid darkgray;
    padding: 15px 50px;
    margin-right: 10px;
    border-radius: 25px;
    text-decoration: none;
  }

  .main-header .items-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-left: 30px; */
    grid-gap: 0px;
  }
  .header-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 75px;
  }
  .big {
    font-size: 90px;
    padding: 0;
    width: auto;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .flex-container,
  .right-side {
    order: -1;
  }
  .big-1 {
    font-size: 90px;
    padding: 0;
    margin-bottom: 30px;
  }
  .right-side a {
    border: 1px solid darkgray;
    padding: 15px 200px;
    margin-right: 10px;
    border-radius: 25px;
    text-decoration: none;
    background-color: rgb(246, 242, 242);
    color: #000;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 15px;
  }
  .left-side {
    margin-top: 50px;
  }
  .person {
    width: 65px;
    height: 55px;
    border-radius: 40px;
    object-fit: cover;
  }
  .left-side img {
    margin-top: 25px;
    margin-right: 15px;
  }
  section {
    padding-bottom: 190px;
    margin-top: 80px;
  }
  .last-photo {
    position: absolute;
    top: 215%;
    width: 100%;
    left: 10%;
  }
  .last-photo img {
    height: 500px;
  }
  .main-nav ul.main-items {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    transform: translateX(-500px);
    border-radius: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transition: transform 0.5s ease-in-out;
  }
  .main-nav ul.main-items li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 20px;
    margin-bottom: 50px;
  }

  .main-nav ul.main-items li:last-child {
    border-bottom: 0;
  }
  .main-nav ul.main-items.show {
    transform: translateX(-20px);
  }
  .right-menu li:hover {
    color: gray;
  }

  /* .last-div {
    margin-top: 400px;
  } */
}
